.productsContainer {
  width: 100%;
  height: fit-content;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  .productsBoxContainer {
    width: 55%;
    height: fit-content;
    border-radius: 16px;
    border: 1px solid #d1d1d1;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    padding: 32px;
    .productBox {
      width: 100%;
      height: 350px;
      border-radius: 16px;
      padding: 16px;
      margin-bottom: 32px;
      display: flex;
      align-items: center;
      position: relative;
      .productPicContainer {
        width: 300px;
        height: 200px;
        position: absolute;
        left: 0;
        border-radius: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 16px;
        }
      }
      .title {
        width: 410px;
        height: 25px;
        position: absolute;
        top: 26px;
        right: 5%;
        display: flex;
        align-items: center;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        p {
          font-size: 18px;
          font-family: iranyekan;
          font-weight: 600;
        }
      }
      .pro_code {
        width: fit-content;
        height: 30px;
        position: absolute;
        top: 22%;
        right: 5%;
        p {
          font-size: 16px;
          font-family: iranyekan, "Franklin Gothic Medium", "Arial Narrow",
            Arial, sans-serif;
        }
      }
      .description {
        width: 400px;
        height: 150px;
        position: absolute;
        bottom: 80px;
        right: 5%;
        justify-content: center;
        text-align: justify;
        p {
          font-size: 16px;
          font-family: iranyekan;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 6;
          overflow: hidden;
          color: #585858;
        }
      }
      #shopbtn {
        width: 100px;
        height: 40px;
        border-radius: 6px;
        border: none;
        position: absolute;
        bottom: 20px;
        right: 5%;
        font-size: 14px;
        font-family: iranyekan;
        background-color: #ed2525;
        color: white;
        cursor: pointer;
        transition: 400ms;
        &:hover {
          background-color: #b10202;
        }
      }
      #showbtn {
        width: 100px;
        height: 40px;
        border-radius: 6px;
        border: none;
        position: absolute;
        bottom: 20px;
        right: 15%;
        margin-right: 16px;
        font-size: 14px;
        font-family: iranyekan;
        background-color: #0084cb;
        color: white;
        cursor: pointer;
        transition: 400ms;
        &:hover {
          background-color: #025481;
        }
      }
      #editbtn {
        width: 100px;
        height: 40px;
        border-radius: 6px;
        border: none;
        position: absolute;
        bottom: 20px;
        right: 27%;
        margin-right: 16px;
        font-size: 14px;
        font-family: iranyekan;
        background-color: #028f09;
        color: white;
        cursor: pointer;
        transition: 400ms;
        &:hover {
          background-color: #036307;
        }
      }
      .discount {
        width: 48px;
        height: 28px;
        background-color: crimson;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        display: flex;
        position: absolute;
        left: 30%;
        bottom: 26px;
        border-radius: 15%;
        p {
          font-size: 14px;
          font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
            sans-serif;
        }
      }
      .price {
        width: 180px;
        height: 30px;
        position: absolute;
        bottom: 26px;
        left: 39%;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
          font-size: 16px;
          font-family: iranyekan, Cambria, Cochin, Georgia, Times,
            "Times New Roman", serif;
        }
      }
    }
    .ifEmpty {
      width: fit-content;
      height: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      p {
        font-size: 16px;
        font-family: iranyekan;
      }
    }
  }
}
